
<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the latest instruments on Flanger
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="instrument-index-grid pt4">
  <% @boxes.each do |box| %>
  	<div class="columns mr3 ">
  <div class="column is-12 ">
    <div class="instrument border-light">
      <div class="image is-3by2	">
      <%= link_to image_tag(box.image_url(:thumb)), box %>     
      </div>
    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to box.title, box %></h3>

      <p class="has-text-gray fg pt1">Sold by <%= box.user.name %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(box.price) %></p>

      <% if box_author(box) %>
         <%= link_to 'Edit', edit_box_path(box), class: "button is-small" %>
         <%= link_to 'Delete', box, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  </div>
  </div>
  <% end %>
</div>