<%= simple_form_for [@box,@box.reviews.build],html: {multipart: true} do |f|%>
	<% f.error_notification %>
		<div class="columns">
			<div class="field column ">
				<div class="control">
				<%= f.input :rname ,label: 'Name',required:false, input_html: { class: "input is-medium"}, wrapper: false, label_html: { class:"label" }%>
				</div>
			</div>
			<div class="field column ">
				<div class="control">
					<%= f.input :remail,label: 'Email' ,required:false,class:"input is-small", input_html: { class: "input is-medium"}, wrapper: false, label_html: { class:"label" }%>
				</div>
			</div>	
		</div>		
		<div class="columns">
			<div class="field column ">
				<%= f.input :rtitle ,label: 'Title' ,class: "input is-small" ,input_html: { class: "input is-medium"},wrapper: false,label_html: {class:"label"}%>
				<br>
				<br>
				<div class="control">
					<h3 class="title is-6">Rating </h3>
					<div id="star-rating"></div>
				</div>
				<br>
				<div class="control">
				<%= f.input :comment ,required:false, input_html: { class: "textarea"}, wrapper: false, label_html: { class:"label" }%>
				</div>	
				<br>
				<div class="field is-grouped">
			        	<div class="control">
			            	<%= f.button :submit, class: 'button is-warning' %>
			          	</div>
				</div>
			</div>
		</div>
<% end %>

<script>
	$('#star-rating').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>